/* CSS Document */

@font-face
{
    font-family: 'Preeti';
    font-weight: normal;
    font-style: normal; 
    src: url('../fonts/preeti.eot?v=4.0.2');
    src: url('../fonts/preeti.eot?v=4.0.2#iefix') format('embedded-opentype'), url('../fonts/preeti.woff?v=4.0.2') format('woff'), url('../fonts/preeti.ttf?v=4.0.2') format('truetype'), url('../fonts/preeti.svg?v=4.0.2#fontawesomeregular') format('svg');
}

@font-face
{
    font-family: 'Rukmini';
    font-weight: normal;
    font-style: normal; 
    src: url('../fonts/rukmini.eot?v=4.0.2');
    src: url('../fonts/rukmini.eot?v=4.0.2#iefix') format('embedded-opentype'), url('../fonts/rukmini.woff?v=4.0.2') format('woff'), url('../fonts/rukmini.ttf?v=4.0.2') format('truetype'), url('../fonts/rukmini.svg?v=4.0.2#fontawesomeregular') format('svg');
}
.chorous{
font-family:Preeti;
font-size:19px;
line-height:19px;padding:10px;
}
.chorousru{
font-family:Rukmini;
font-size:19px;
line-height:19px;padding:10px;font-weight:bold;
}
